<%= form_for [@city, @post] do |f| %>
	
	<% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                        <% end %>

    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.submit "Edit information" %>

<% end %>

 