<%= form_for [@city,@post] do |f| %>
<% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                        <% end %>
  
  <h1> New Post</h1>
    <%= f.text_field :title, placeholder: "Post Title", :id => 'geocomplete' %> 
    <%= f.text_field :content, placeholder: "Post Content" %>
	<%= f.text_field :tag_list, placeholder: "Tags" %>

	<%= f.submit "Add Post" %>
	

<% end %>

The current user is <%=@current_user%>
 