<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/cities">VOLTAGE CITIES</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=" dropdown"><%= link_to 'PROFILE', user_path(@current_user) %>
            </li>
          </ul>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <% if @current_user %>
              <li class=""><%= link_to "LOGOUT", logout_path, method: :delete%></li>
            </ul>
            <%end%>
          </div>
        </nav>
      </div>
    </div>


  <div class="post-bg">
    <div class="col-md-12 col-xs-12" align="center">
      <div class="center-block">
        <div class="color-box">
        <br>
        <br>
        <h2>  <%=@post.title%> </h2> 
          <h3><%=@post.content%> </h3>
          <h3> USERNAME: <%= @user.artist_name %> </h3>
          <h3>TAGS:   <%=raw tag_links@post.tag_list%> </h3><br>
        </h3> 
        <div>
          <%@post.comments.each do |comment| %>
          <h1><%= comment.user.username%></h1>
          <h3><%= comment.content%></h3>
          <%end%>
        </div>
        <%=link_to 'COMMENT POST', new_city_post_comment_path(@city, @post), class: "main-button" %>

		<br><br>

        <main-button><% if @user.id == @current_user.id%>
        <%=link_to 'EDIT POST', edit_city_post_path(@city, @post), class: "main-button" %>
        <%=link_to'DELETE POST', delete_city_post_path(@city, @post), method: :delete, data:{confirm: "#{@user.username} are you sure you to delete this post?" },class: "main-button" %>
        
        <%end%>
      </main-button>
    </div>
  </div>
</div>



