
<% if @city.name=="San Francisco" %>	
	<header styles = "background: url ('san_francisco 2.jpeg') no-repeat center center scroll">

	</header>

	<% end %>

<div>
  <%= @city.name %> 
  <%@postsR.each do |post| %>
    Name <%= post.user.username %>
  	<%= link_to city_post_path(@city, post) do %>
  	<%=post.title%>
  	<% end %>
 <br> 
  <%=post.content%> 
 <br>
  <% end %> 
</div>

<div>
	<%= link_to "Add Post", new_city_post_path(@city) %>
</div>