<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/cities">VOLTAGE CITIES</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=" dropdown"><%= link_to 'PROFILE', user_path(@current_user) %>
            </li>
          </ul>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <% if @current_user %>
              <li class=""><%= link_to "LOGOUT", logout_path, method: :delete%></li>
            </ul>
            <%end%>
          </div>
        </nav>
      </div>
    </div>

    <div class="cities-bg">
      <div class="text-center" style="padding:50px 0">
        <div class="map" id="map<%=@city.slug%>"></div>


        <section class="block-parallax-1  block-parallax-2">

          <section style="min-height:400px;">
            
           <div class="container">
             <br>
             <br>
             <br>
             <main-button><%= link_to "ADD POST", new_city_post_path(@city), class: "main-button" %> </main-button>
           </div>
           <br>
           <div class="container">
            <h3><% if @posts.count==0 %>
              No Posts
              <% else %> 
              <%=@posts.count%> Posts</h3>
              
              <div class="row grid-divider">
                <%@postsR.each do |post| %> 

                <div class="col-sm-4">
                  <!-- <div class="white-box"> -->
                  <div class="col-padding white-box">
                   
                   <a><%= link_to user_path(post.user_id, post) do %>
                    <h5><%=post.user.username%> </h5>
                    <% end %>
                  </a>

                  <a><%= link_to city_post_path(post.city_id, post) do %>
                    <h5><%=post.title%></h5>
                    <% end %> 
                  </a>
                  
                  <a><%= link_to city_path(post.city_id) do %>
                   <h5><%=post.city.name%></h5>
                   <% end %>
                 </a>

                 <br>
                 
                 <h5><%= truncate post.content, length: 20    %>

                  <br>
                  <br>
                  <%= link_to "READ MORE", city_post_path(post.city_id, post) %>
                </h5>
                <br>
                <br>
                
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</section>
<script type="text/javascript">
  init();
</script>

