<div>
  Welcome, <%= @user.artist_name %> 
  <%= @user.username %> 
  <%= @user.current_city %> 
  Joined <%= @user.created_at.strftime('%b. %d, %Y') %>
  <br>
  <%= image_tag @user.avatar.url(:thumb) %>

 <ul>
 	<% if @posts.count==0 %>
 		no posts 
 	<% end %>
 	<%@posts.each do |post| %> 
 	<li> <%= post.title %></li>

 	<% end %>
 </ul>
 <% if @user.id == @current_user.id%>
  <%=link_to 'Edit your profile', edit_user_path(@user) %>
 <%end%>

 
</div>