<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Findcond</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= link_to 'LOG IN','/login' %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>

<div class="container" id="profile-header">
<br>
<br>
	<div class="row" id="main">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
                <div class="col-md-12">
                	<div>
        				<%= image_tag @user.avatar.url(:thumb)%>
        				<h2>Gopinath Perumal</h2>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        				tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning">
                                Social</button>
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                        </div>
        			</div>
        		</div>
            </div>
        </div>
	</div>
</div>






<div>
  Welcome, <%= @user.artist_name %> 
  <%= @user.username %> 
  <%= @user.current_city %> 
  Joined <%= @user.created_at.strftime('%b. %d, %Y') %>
  <br>
  <%= image_tag @user.avatar.url(:thumb) %>

 <ul>
 	<% if @posts.count==0 %>
 		no posts 
 	<% end %>
 	<%@posts.each do |post| %> 
 	<li> <%= post.title %></li>

 	<% end %>
 </ul>

 
</div>

