<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">VOLTAGE CITIES</a>
                </div>
                
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <% if @current_user %>
                        <li class=""><a href="/">LOG OUT</a></li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="profile-bg">
    <div class="text-center" style="padding:120px 0">
      <div class="container">
            <div class="col-md-12 col-xs-12" align="center">


                  <div class="outter"><%= image_tag @user.avatar.url(:thumb), :class => 'image-circle'%></div>  
                  <h1>  Welcome, <%= @user.artist_name %> </h1>
                  <h2>  USERNAME: <%= @user.username %> <br>
                        CURRENT CITY: <%= @user.current_city %> <br>
                        JOINED: <%= @user.created_at.strftime('%b. %d, %Y') %> <br>
                  <h2> 
                  <main-button><%= link_to "ADD POST", "/cities", class: "main-button" %> </main-button>
            </div>

 	<% end %>
 </ul>
 <% if @user.id == @current_user.id%>
  <%=link_to 'Edit your profile', edit_user_path(@user) %>
 <%end%>


    <br>
    <br>


    <!--<div class="page-header">     
        <h3><ul>
          <% if @posts.count==0 %>
          No Posts
          <% end %>
          <%@posts.each do |post| %> 
          <li> <%= post.title %></li>
          <% end %>
        </ul></h3>
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>City</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>City</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>City</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
      </div>-->
    </div>
    </div>
</div>